[Unit]
Description=pCloud mount
After=network.target network-online.target nss-lookup.target

[Service]
Type=oneshot
User=<your user>
Group=<your user>
RemainAfterExit=yes
ExecStart=/usr/bin/mount.pfs --username <your email here> --password '<your password here>' --ssl /home/<your user>/pCloudDrive
ExecStop=/usr/bin/umount /home/<your user>/pCloudDrive

[Install]
WantedBy=multi-user.target
