[Unit]
Description=pCloud mount
After=network.target network-online.target nss-lookup.target multi-user.target

[Service]
Restart=always
Type=forking
User=<your user>
Group=<your user>
RemainAfterExit=yes
ExecStart=/usr/bin/mount.pfs --auth <your auth key here>  --ssl /home/<your user>/pCloudDrive

[Install]
WantedBy=multi-user.target
